section.Rating {
  @include shadowless_whitebox;
  @include clearfix;
  margin-bottom: 0.5em;
  padding: 0em;
}
.Rating:nth-child(odd) {
    background-color: $even-lighter-gray;
}

section.Rating > .Rating-profile-image {
  float: left;
  line-height: 0em;
  img {
    max-height: 6em;
    max-width: 10em;
  }
}

section.Rating > .Rating-quote{
}

section.Rating > .Rating-image {
  .fa {
    font-size: 4em;
    float: right;
    margin-right: 0.3em;
  }
  .fa-smile-o {
    color: green;
  }
  .fa-meh-o {
    color: orange;
  }
  .fa-frown-o {
    color: red;
  }
  margin-top: 1em;
  float: right;
  @include omega;
}

@include at-breakpoint($bp-mobile-horizontal) {
  section.Rating > .Rating-profile-image {
    @include span(1 of 6 0.1);
  }
  section.Rating > .Rating-quote{
    @include span(4 of 6 0.1);
  }
  section.Rating > .Rating-image {
    text-align: center;
    @include span(1 of 6 0.1);
    @include omega;
  }
}
